# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/

# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db


# Videos
*.mp4
*.avi
*.mov

# Images / plots
*.png
*.jpg
*.jpeg
*.pdf

# Runtime logs
*.log